<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ex.dao.AdminMapper">
  <resultMap id="BaseResultMap" type="com.ex.model.Admin">
    <id column="admin_id" jdbcType="VARCHAR" property="adminId" />
    <result column="admin_pwd" jdbcType="VARCHAR" property="adminPwd" />
    <result column="admin_name" jdbcType="VARCHAR" property="adminName" />
  </resultMap>
  <sql id="Base_Column_List">
    admin_id, admin_pwd, admin_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from admin
    where admin_id = #{adminId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from admin
    where admin_id = #{adminId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ex.model.Admin">
    insert into admin (admin_id, admin_pwd, admin_name
      )
    values (#{adminId,jdbcType=VARCHAR}, #{adminPwd,jdbcType=VARCHAR}, #{adminName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ex.model.Admin">
    insert into admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="adminPwd != null">
        admin_pwd,
      </if>
      <if test="adminName != null">
        admin_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adminId != null">
        #{adminId,jdbcType=VARCHAR},
      </if>
      <if test="adminPwd != null">
        #{adminPwd,jdbcType=VARCHAR},
      </if>
      <if test="adminName != null">
        #{adminName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ex.model.Admin">
    update admin
    <set>
      <if test="adminPwd != null">
        admin_pwd = #{adminPwd,jdbcType=VARCHAR},
      </if>
      <if test="adminName != null">
        admin_name = #{adminName,jdbcType=VARCHAR},
      </if>
    </set>
    where admin_id = #{adminId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ex.model.Admin">
    update admin
    set admin_pwd = #{adminPwd,jdbcType=VARCHAR},
      admin_name = #{adminName,jdbcType=VARCHAR}
    where admin_id = #{adminId,jdbcType=VARCHAR}
  </update>
</mapper>