<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ex.dao.CompanyMapper">
  <resultMap id="BaseResultMap" type="com.ex.model.Company">
    <id column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="company_pwd" jdbcType="VARCHAR" property="companyPwd" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="company_address" jdbcType="VARCHAR" property="companyAddress" />
    <result column="contact_name" jdbcType="VARCHAR" property="contactName" />
    <result column="contact_tel" jdbcType="VARCHAR" property="contactTel" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>
  <resultMap id="StudentTableMap" type="com.ex.model.StudentTable">
    <id column="person_id" jdbcType="VARCHAR" property="personId" />
    <result column="person_name" jdbcType="VARCHAR" property="personName" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_student" jdbcType="INTEGER" property="isStudent" />
    <result column="result" jdbcType="INTEGER" property="result" />
  </resultMap>
  <sql id="Base_Column_List">
    company_id, company_pwd, company_name, company_address, contact_name, contact_tel, 
    is_delete
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from company
    where company_id = #{companyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from company
    where company_id = #{companyId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ex.model.Company">
    insert into company (company_id, company_pwd, company_name,
      company_address, contact_name, contact_tel,
      is_delete)
    values (#{companyId,jdbcType=VARCHAR}, #{companyPwd,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR},
      #{companyAddress,jdbcType=VARCHAR}, #{contactName,jdbcType=VARCHAR}, #{contactTel,jdbcType=VARCHAR},
      #{isDelete,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ex.model.Company">
    insert into company
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        company_id,
      </if>
      <if test="companyPwd != null">
        company_pwd,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="companyAddress != null">
        company_address,
      </if>
      <if test="contactName != null">
        contact_name,
      </if>
      <if test="contactTel != null">
        contact_tel,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="companyId != null">
        #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="companyPwd != null">
        #{companyPwd,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyAddress != null">
        #{companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null">
        #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactTel != null">
        #{contactTel,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ex.model.Company">
    update company
    <set>
      <if test="companyPwd != null">
        company_pwd = #{companyPwd,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyAddress != null">
        company_address = #{companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null">
        contact_name = #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactTel != null">
        contact_tel = #{contactTel,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=INTEGER},
      </if>
    </set>
    where company_id = #{companyId,jdbcType=VARCHAR}
  </update>

  <!--管理员管理公司部分-->
  <select id="selectCompanyId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from company
    where company_id = #{companyId,jdbcType=VARCHAR}
  </select>
  <select id = "getCompanyList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  		select * from Company
  	</select>
  <select id="queryExcelInfo" parameterType="java.lang.String" resultMap="BaseResultMap">
		select * from company
	</select>
  <delete id = "delCompanyById" parameterType="String">
  		delete from company where company_id = #{companyId};
  	</delete>
  <delete id="deleteCompanyId" parameterType="java.lang.String">
    delete from company
    where company_id = #{companyId,jdbcType=VARCHAR}
  </delete>
  <select id="selectId" parameterType="java.lang.String" resultMap="BaseResultMap">
		select * from Company
			where company.company_id=#{company_id}
	</select>

  <update id="updateByPrimaryKey" parameterType="com.ex.model.Company">
    update company
    set company_pwd = #{companyPwd,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      company_address = #{companyAddress,jdbcType=VARCHAR},
      contact_name = #{contactName,jdbcType=VARCHAR},
      contact_tel = #{contactTel,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=INTEGER}
    where company_id = #{companyId,jdbcType=VARCHAR}
  </update>
  <select id="selectStudentTable" parameterType="Integer" resultMap="StudentTableMap">
    SELECT person_id,person_name,`status`,is_student,result
    FROM `apply`
    LEFT JOIN result
    ON person_id = student_id
    WHERE apply.project_id = #{projectId} and (result.project_id = #{projectId} or result.project_id is NULL)
    ORDER BY is_student
  </select>
</mapper>